## Saylani Mass IT 
### Name   : Muhammad Sarwar
### Course : AI and DS
### Days   : Tuesday and Thursday
### ID     : AI - 333166

## Looping structure

1 write a python program to print the numbers from 1 to 10 using a for loop

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2 Write a Python program to print the numbers from 20 to 1 using a while loop

In [12]:
i=20
while i>=1:
    print(f"the number is:{i}")
    i-=1

the number is:20
the number is:19
the number is:18
the number is:17
the number is:16
the number is:15
the number is:14
the number is:13
the number is:12
the number is:11
the number is:10
the number is:9
the number is:8
the number is:7
the number is:6
the number is:5
the number is:4
the number is:3
the number is:2
the number is:1

3. Write a program to print even numbers from 1 to 10.

In [13]:
for i in range(1,11):
    if i%2==0:
        print(f"{i} is an Even Number")
    else:
        print(f"{i} is an Odd Number")

1 is an Odd Number
2 is an Even Number
3 is an Odd Number
4 is an Even Number
5 is an Odd Number
6 is an Even Number
7 is an Odd Number
8 is an Even Number
9 is an Odd Number
10 is an Even Number

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [14]:
n=int(input("Enter a number"))
for i in range(n):
    print(i)

Enter a number 30

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [1]:
n=int(input("Enter a number"))
for i in range(n):
    if i%2==0:
        pass
    else:
        print(f"The {i} is an Odd number")

Enter a number 20

The 1 is an Odd number
The 3 is an Odd number
The 5 is an Odd number
The 7 is an Odd number
The 9 is an Odd number
The 11 is an Odd number
The 13 is an Odd number
The 15 is an Odd number
The 17 is an Odd number
The 19 is an Odd number

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [2]:
for i in range(5):
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.
Sample output
Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [22]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    print(i**2,end=" ")

Enter a number 6

1 4 9 16 25 36

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [29]:
n=int(input("Enter a number"))
length_of_table=int(input("Enter the length of table"))
for i in range(1,length_of_table+1):
    print(f"{i} X {length_of_table} = {i*n}")

Enter a number 4
Enter the length of table 12

1 X 12 = 4
2 X 12 = 8
3 X 12 = 12
4 X 12 = 16
5 X 12 = 20
6 X 12 = 24
7 X 12 = 28
8 X 12 = 32
9 X 12 = 36
10 X 12 = 40
11 X 12 = 44
12 X 12 = 48

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [3]:
num_terms=8
first_term=3
common_difference=4
for i in range(1,num_terms):
    term=first_term+i*common_difference
    print(term,end=" ")

7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [7]:
num_terms=6
start=2
common_ratio=3
for i in range(1,num_terms):
    term=first_term*(common_ratio**i)
    print(term,end=" ")

6 18 54 162 486

11. Write a program that asks the user for a positive integer value. The program should
calculate the sum of all the integers from 1 up to the number entered. For example, if
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [10]:
num=int(input("Enter a number:"))
sum=0
for i in range(1,num):
    sum+=i
    print(sum)

Enter a number: 20

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.

Output of the program should be like:
Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

In [ ]:
num=int(input("Enter a positive number"))
reciprocal_sum=0
for i in range(1,num+1):
    reciprocal_sum+=1/i

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.
Sample Output:
Enter a number: 10
Enter a number: 15
Enter a number: 35
Enter a number: 40
Enter a number: 50
The final running total is: 150

In [16]:
sum=0
for i in range(1,5+1):
    num=int(input("Enter a Number:"))
    sum+=num
print(f"The total final sum:{sum}")

Enter a Number: 10
Enter a Number: 15
Enter a Number: 35
Enter a Number: 40
Enter a Number: 50

The total final sum:150

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [17]:
n=int(input("Enter a positive Integer:"))
if n<0:
    print("factorial of negative integer does not exist")
elif n==0:
    factorial=0
else:
    factorial=1
    for i in range(1,n+1):
        factorial*=i
    print(f"The factorial of {n} is :{factorial}")

Enter a positive Integer: 3

The factorial of 3 is :6

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [18]:
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))
result = 1
if exponent > 0:
    for _ in range(exponent):
        result *= base
elif exponent < 0:
    for _ in range(-exponent):
        result *= 1 / base
else:
    result = 1
print(f"The result of {base} raised to the power of {exponent} is: {result}")

Enter the base number:  2
Enter the exponent:  4

The result of 2.0 raised to the power of 4 is: 16.0